.nav{
  margin: 0 10px;
  padding: 10px;
}
.d-flex{
  display: flex;
  flex-direction: row;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}
.list-style{
  list-style: none;
}
.space-between{
  padding: 0 10px;
  /* margin: 0 8px; */
}
.mt-1{
  margin-top: 0.1rem;
}
.mt-2{
  margin-top: 0.3rem;
}
.mt-3{
  margin-top: 0.5rem;
}
.mt-4{
  margin-top: 0.8rem;
}
